<div id="<%= dom_id contact %>">
  <p>
    <strong>Company:</strong>
    <%= contact.company_id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= contact.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= contact.last_name %>
  </p>

  <p>
    <strong>Job title:</strong>
    <%= contact.job_title %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= contact.company_name %>
  </p>

  <p>
    <strong>Industry:</strong>
    <%= contact.industry %>
  </p>

  <p>
    <strong>Tax:</strong>
    <%= contact.tax_id %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= contact.phone %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= contact.mobile %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= contact.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= contact.city %>
  </p>

</div>
