<div id="<%= dom_id campaign %>">
  <p>
    <strong>Company:</strong>
    <%= campaign.company_id %>
  </p>

  <p>
    <strong>Segment:</strong>
    <%= campaign.segment_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= campaign.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= campaign.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= campaign.status %>
  </p>

</div>
